@model LFC.DAL.Models.Courses
<form method="post" asp-action="Delete">
    <input asp-for="CourseId" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Видалити курс</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="CourseName"></label>
            <input asp-for="CourseName" disabled class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CourseDescription"></label>
            <input asp-for="CourseDescription" disabled class="form-control" />
            <span asp-validation-for="CourseDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Year">Курс</label>
            <div class="form-check">
                <label class="form-check-label" for="radioYear3">3</label>
              <input class="form-check-input" type="radio" name="year3" id="radioYear3" value="Year.Third">
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="year4" id="radioYear4" value="Year.Fourth">
              <label class="form-check-label" for="radioYear4">4</label>
            </div>
        </div>
         <div class="mb-3">
            <label asp-for="Semester">Семестр</label>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="sem1" id="radioSem1" value="Semester.FirstSemester">
              <label class="form-check-label" for="radioSem1">1-ий</label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="sem2" id="radioSem2" value="Semester.SecondSemester">
              <label class="form-check-label" for="radioSem2">2-ий</label>
            </div>
        </div>
         <div class="mb-3">
            <label asp-for="Specialities">Спеціальність</label>
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Комп'ютерні науки</option>
                  <option>Прикладна математика</option>
                  <option>Системний аналіз</option>
                  <option>Кібербезпека</option>
                  <option>Середня освіта.Інформатика</option>
                </select>
              </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Видалити</button>
    </div>
</form>